@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 >Smart Parking System</h2>
                        <br />
                        <p class="card-description">
                            PMS (Parking Mode Simple) Introduce fully digitized and automated Smart Parking Solution as an IoT Service which compatible with any Parking Spot. This is a Prototype of the real  PMS (Parking Mode Simple) Digital Parking Solution.

                            At the entrance, a digital screen with the summary of the parking spot will be display. This will show the exact available parking slots. As a vehicle enters the parking spot, the sensors will detect the spot being filled and this will be updated.

                            When a vehicle leaves a slot, this activity will be identified as well and the availability of slots will be updated. The entrance gate will also be operated by the ParkMeApp IoT Solution. Time of entrance and leaving of vehicles will be detected with sensors and POS activities will be handled accordingly.
                        </p>
                        <br />
                              <h2>
                                  Power of  PMS (Parking Mode Simple) on your Parking needs!
                              </h2><br />
                                   <p>
                                       Smart Parking Solution by ParkMeApp introduces to provide a wide range of services more efficiently.
                                       ParkMeApp IoT based Parking Solution will be triggered based on real-time events and activities.

                                       Do you have available parking space? Need a boost?
                                       Well,  PMS (Parking Mode Simple) is your best choice. Become an owner and make your parking space easily accessible to others and START EARNING!
                                   </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        
                        <p class="card-description">
                            <img src="~/Content/image/img-1.png" style="width:100%; height:auto; padding:2px"/>
                            <img src="~/Content/image/img-2.png" style="width:100%; height:auto; padding:2px" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>