@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding:1%"></div>
<div class="row" style="padding:1%">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body"  style="border:1px solid darkgray">
                <div class="clearfix">
                    <div style="text-align:center;">
                        <i class="fa fa-home text-danger" style="font-size:350%;"></i>
                    </div>
                    <div style="text-align:center;"><br />
                        @*<p class="mb-0">Total Revenue</p>*@
                        <div class="fluid-container">
                            <h3 class="font-weight-medium mb-0">
                                No 1/44 Fonseka Road,
                                Panadura.
                            </h3>
                        </div><br />
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body" style="border:1px solid darkgray">
                <div class="clearfix">
                    <div style="text-align:center;">
                        <i class="fa fa-phone text-danger" style="font-size:350%;"></i>
                    </div>
                    <div style="text-align:center;">
                        <br />
                        @*<p class="mb-0">Total Revenue</p>*@
                        <div class="fluid-container">
                            <h3 class="font-weight-medium mb-0">+94 (0) 71 231 7234</h3>
                        </div><br />
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body" style="border:1px solid darkgray">
                <div class="clearfix">
                    <div style="text-align:center;">
                        <i class="fa fa-envelope text-danger" style="font-size:350%;"></i>
                    </div>
                    <div style="text-align:center;">
                        <br />
                        @*<p class="mb-0">Total Revenue</p>*@
                        <div class="fluid-container">
                            <h3 class="font-weight-medium mb-0">lsandaras33@gmail.com</h3>
                        </div><br />
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                </p>*@
            </div>
        </div>
    </div>
</div><br /><br />
<div class="row" style="padding:1%; text-align:center;">
    <h2 style="text-align:center;">
        <span style="text-align:center;">We're waiting to assist you</span>
    </h2>
</div>
    <div class="row" style="padding:1%">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="border:1px solid darkgray">
                    
                    <form class="forms-sample">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size:19px" for="exampleInputName1">Name</label>
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size:19px" for="exampleInputEmail3">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size:19px" for="exampleInputEmail3">Subject</label>
                                <input type="text" class="form-control" id="exampleInputSubject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="font-size:19px" for="exampleTextarea1">Message</label>
                                <textarea class="form-control" id="exampleTextarea1" rows="6" style="width:100%"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Send</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
       
    </div>