@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Car Park registration</title>
    <!-- plugins:css -->
    <link href="~/Content/boostrap/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/boostrap/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/boostrap/vendor.bundle.addons.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/Content/boostrap/style.css" rel="stylesheet" />
    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Content/boostrap/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one" style="background-image: url('../../Content/image/login.jpg');  background-size: cover;">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">Register</h2>
                        <div class="auto-form-wrapper">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Latitude">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Longitude">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="slots">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Price per day">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-check-circle-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <div class="form-check form-check-flat mt-0">
                                        @*<label class="form-check-label">
                <input type="checkbox" class="form-check-input" checked> I agree to the terms
                </label>*@
                                        <label class="container">
                                            <input type="checkbox" class="" checked>
                                            <span class="checkmark"></span>
                                            I agree to the terms
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block">Register</button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Already have an account ?</span>
                                    <a href="login.html" class="text-black text-small">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Scripts/js/vendor.bundle.base.js"></script>
    <script src="~/Scripts/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Scripts/js/off-canvas.js"></script>
    <script src="~/Scripts/js/misc.js"></script>
    <!-- endinject -->
</body>

</html>
